nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: auto;
    margin: auto;
    height: 90px;
    padding: 0 100px;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid black;
}