@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epunda Slab", serif;
}

button {
  background-color: red;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(247, 143, 143);
}

