*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: red;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(247, 143, 143);
}